/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/


:root {
    /* Font and background color variables*/
  /*Font weight variables for headings*/ 
 /*Font weight variables*/ 
  /*Font size variables*/
}


 /* Set the box-sizing to border-box on all elements */
 * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
 }
body {
  font-family: 'Lato', sans-serif;
  color: #6F7378;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.6;
  background-color: #FFF;
  padding: 10px;
}

h1 {
  font-size: 1.728em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 1.44em;
  font-weight: 700;
}

h3 {
  font-size: 1.2em;
  font-weight: 700;
}
.highlight{
    color: #b200ff;
    font-weight: 700;
}
.textbg{
    background-color: #E9EAEC;
    padding: 0 5px;
}
.centered{
    text-align: center;
}

a{
    color: #6F7378;
    text-decoration: none;
}
a:visited{
    /* visited link */
    color: #7D7098;
}
a:hover {
    color: #b200ff;
    /* No underlining when hovering over a link */
    text-decoration: none;
}
a:focus {
    color: #b200ff;
    /* No underlining when hovering over a link */
    text-decoration: none;
}
link:hover {
    color: #b200ff;
    /* No underlining when hovering over a link */
    text-decoration: none;
}
a:active{
    /* selected link */
    color: #6F7378;
}
button {
  /* overwrite browser defaults and reset the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: #b200ff;
  color: #FFF;
  text-decoration: none;
  margin: 5px 0px;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}
.button {
  /* overwrite browser defaults and reset the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: #b200ff;
  color: #FFF;
  text-decoration: none;
  margin: 5px 0px;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}
button:hover{
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  color: #000;
}
button:focus{
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  color: #000;
}
.button:hover{
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  color: #000;
}
.button:focus .block:hover{
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  color: #000;
}
block:focus{
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  color: #000;
}
.button-container { 
  height: 70px;
  position: relative;
  border: none; 
}

.horizontal-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  
  -webkit-transform: translate(-50%, -50%);
  
          transform: translate(-50%, -50%);
}
#content {
  margin: 1em auto;
  width: 90%;
  margin-bottom: 10px;
  overflow: auto;
 
  
}
/*Contact page setting*/
#contact-container {
    width: 95%; 
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    overflow: auto;
    
}

/* Header setting*/
/* Flexbox layout for header bar*/


.page-header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: auto;
    -webkit-box-shadow: 0 4px 10px -10px #000;
            box-shadow: 0 4px 10px -10px #000;
   
}
.page-header__item{
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
    padding-bottom: 5px;
    
}
.page-header__item:last-child{
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
    
}
.navigation-list__item--active {
    text-decoration: none;
}
.navigation-list {
    list-style-type: none;
}
.navigation-list li{
    color: #6F7378;
    display: inline-block;
    margin-left: 15px;  
    text-transform: uppercase;
    
}
.logo{
    margin-top: 15px;
    height: 50px;
    width: 100px;
    
}
.right{
    float : right;
    padding: 5px;
}
.left{
    float: left;
    margin-left: 5px;
   
}

.nobull {
  list-style-type: none;
 }
/*Link setting*/
.link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #6F7378;
  -webkit-transition: color 1s linear 0.5s;
  transition: color 1s linear 0.5s;
}

/* Setting of Profile*/
.profile{
    max-width: 700px;
    margin: 0 auto;
}
/*Align profile image and welcome text */
/* Setting for portrait*/
.profile__portrait{
    float: left;
    
    max-width: 50vh;
    height: auto;
    margin-right: 40px;
    border-radius: 50%;
}   
/*Animation of Seattle letter in About page*/
.seattle{
    -webkit-animation: 4s color-change infinite alternate linear;
            animation: 4s color-change infinite alternate linear;
}

/*Contact form style*/
.form-style{
        width:95%;
	max-width: 500px;
	padding: 10px 12px 10px 10px;
        border-radius: 5px;
	background-color: #E9EAEC;
        border: #6F7378;
        margin-bottom: 15px;
        
}
.form-style label{
	display: block;
        width: 100px;
        
	margin: 0px 0px 15px 0px;
        padding-left: 5px;
        
}
.form-style label > span{
	width: 100px;
        
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
        
}
.form-style span.required{
	color: #FF0000;
}

.form-style input.input-field {
	width: 80%;
        
}
.form-style input.input-field{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	
	border: 1px solid #6F7378;
	-webkit-box-shadow: 1px 1px 4px #6F7378;
	        box-shadow: 1px 1px 4px #6F7378;
	
	border-radius: 3px;
	
	padding: 7px 7px 7px 5px;
	outline: none;
        
}
.form-style .textarea-field{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	
	border: 1px solid #6F7378;
	-webkit-box-shadow: 1px 1px 4px #6F7378;
	        box-shadow: 1px 1px 4px #6F7378;
	
	border-radius: 3px;
	
	padding: 7px 7px 7px 5px;
	outline: none;
        
}
.form-style .input-field:focus, 
.form-style .textarea-field:focus,  

.form-style .textarea-field{
	height:100px;
	width: 80%;
}
/*Submit button as block setting*/
.block {
  display: block;
  width: 100%;
  text-align: center;
}

/* Animation Setting*/
.seattle{
    -webkit-animation: 4s color-change infinite alternate linear;
            animation: 4s color-change infinite alternate linear;
}
@-webkit-keyframes color-change {
  from {
    fill: #b200ff;
  }
  to {
    fill: #f76414;
  }
}
@keyframes color-change {
  from {
    fill: #b200ff;
  }
  to {
    fill: #f76414;
  }
}
/*Experience page setting*/
.experience {
    
  max-width: 960px;  
  display: -ms-grid;  
  display: grid;
  -ms-grid-columns: 1fr 2px 1fr 2px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  
  grid-gap: 2px;
  margin:0 auto;
  -ms-grid-rows: auto 2px auto 2px auto 2px auto;
      grid-template-areas:
    "photo name name "
    "skills work workt"
    "achievements work work"
    "citizenships work work";
}
.name {
  -ms-grid-row : 1;
  -ms-grid-column : 3;
  -ms-grid-column-span : 3;
  grid-area : name;
}

.photo {
  -ms-grid-row : 1;
  -ms-grid-column : 1;
  grid-area : photo;
  text-align: center;
  
}
.photo > img {
    border-radius: 50%;
    height: auto;
    width: 137px;
    max-width:90%;
    max-height:90%;
    margin: 1px;
   

  }
.about {
  grid-area : about;
}
.work {
  -ms-grid-row : 3;
  -ms-grid-row-span : 5;
  -ms-grid-column : 3;
  -ms-grid-column-span : 3;
  grid-area : work;
  background-color: #E9EAEC;
  border-radius: 8px;
  padding: 2%;
}
.skills {
  -ms-grid-row : 3;
  -ms-grid-column : 1;
  grid-area : skills;
}
.achievements {
  -ms-grid-row : 5;
  -ms-grid-column : 1;
  grid-area : achievements;
}
.citizenship {
  grid-area : citizenship;
}
.title {
    
    font-size: 1.2em;
    font-weight: bold;
  }
hr {
    margin-top: 2%;
    border-color: #6F7378;
}
.description .self-title{
    margin: 1%;
    padding-right: 1%;
    font-size: 1em;
 
}
.meta {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2%;
}


/* Footer setting*/
.page-footer{
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    border-top: 1px solid #6F7378;
    margin-top: 5px;
}
/*Project list Grid setting*/
.horizontal-border{
    
    padding: 26px 0px 30px;
    border-top: 1px solid #979797;
}
.project-list{    
    display: -ms-grid;    
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.project-list__item{
    padding: 10px;
}

@media all and (min-width: 750px) {
  .experience {
    -ms-grid-columns: 1fr 2px 1fr 2px 1fr;
    grid-template-columns: 1fr 1fr 1fr;  
    -ms-grid-rows: auto 2px auto 2px auto 2px auto;  
        grid-template-areas:
      "photo name name"
      "skills work work"
      "achievements work work"
      "citizenship work work";
  }
  .name {
        -ms-grid-row : 1;
        -ms-grid-column : 3;
        -ms-grid-column-span : 3;
  }
  .photo {
        -ms-grid-row : 1;
        -ms-grid-column : 1;
  }
  .work {
        -ms-grid-row : 3;
        -ms-grid-row-span : 5;
        -ms-grid-column : 3;
        -ms-grid-column-span : 3;
  }
  .skills {
        -ms-grid-row : 3;
        -ms-grid-column : 1;
  }
  .achievements {
        -ms-grid-row : 5;
        -ms-grid-column : 1;
  }
  .citizenship {
        -ms-grid-row : 7;
        -ms-grid-column : 1;
  }
}
@media all and (max-width: 750px) {
  .experience {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: auto 2px auto 2px auto 2px auto 2px auto 2px auto;
          grid-template-areas:
        "photo"
        "name"
        "skills"
        "achievements"
        "work"
        "citizenship"
    }
  .name {
        -ms-grid-row : 3;
        -ms-grid-column : 1;
        -ms-grid-column-span : 1
    }
  .photo {
        -ms-grid-row : 1;
        -ms-grid-column : 1
    }
  .work {
        -ms-grid-row : 9;
        -ms-grid-row-span : 1;
        -ms-grid-column : 1;
        -ms-grid-column-span : 1
    }
  .skills {
        -ms-grid-row : 5;
        -ms-grid-column : 1
    }
  .achievements {
        -ms-grid-row : 7;
        -ms-grid-column : 1
    }
  .citizenship {
        -ms-grid-row : 11;
        -ms-grid-column : 1
    }
}
/* Setting for screen size less than 500pixel*/
@media all and (max-width: 500px) {
  .project-list{
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;  
  }  
   
  
}
/* Setting for screen size between 500pixel and 750px*/
@media all and (min-width: 500px) and (max-width: 750px){
  .project-list {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr; 
  }  
  
}
/* Setting for screen size up to 750px*/
@media all and (max-width: 750px) {
  .project-list {
    grid-gap: 10px;
  }
  .project-list__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 1.728em;
  }
  
 
}
