
/* 
    Created on : Oct 13, 2022, 9:04:29 PM
    Author     : nu
*/

:root {
    /* Font and background color variables*/
  --purple: #b200ff;
  --light-purple: #7D7098;
  --pewter:  #E9EAEC;
  --dark-grey: #6F7378;
  --light-grey: #979797;
  --white: #FFF;
  --blue: #4120A9;
  --black: #000;
  --red: #FF0000;
  /*Font weight variables for headings*/
  --heading-weight: 700; 
 /*Font weight variables*/
  --text-weight: 400; 
  /*Font size variables*/
  --font-size-default: 100%;
  --font-size-1: 1em;
  --font-size-2: 1.2em;
  --font-size-3: 1.44em;
  --font-size-4: 1.728em;
  --font-size-5: 2.074em;
  --font-size-6: 2.488em;
}


 /* Set the box-sizing to border-box on all elements */
 * {
    box-sizing: border-box;
 }
body {
  font-family: 'Lato', sans-serif;
  color: var(--dark-grey);
  font-weight: var(--text-weight);
  font-size: var(--font-size-default);
  line-height: 1.6;
  background-color: var(--white);
  padding: 10px;
}

h1 {
  font-size: var(--font-size-4);
  font-weight: var(--heading-weight);
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: var(--font-size-3);
  font-weight: var(--heading-weight);
}

h3 {
  font-size: var(--font-size-2);
  font-weight: var(--heading-weight);
}
.highlight{
    color: var(--purple);
    font-weight: var(--heading-weight);
}
.textbg{
    background-color: var(--pewter);
    padding: 0 5px;
}
.centered{
    text-align: center;
}

a{
    color: var(--dark-grey);
    text-decoration: none;
}
a:visited{
    /* visited link */
    color: var(--light-purple);
}
a:hover, a:focus, link:hover {
    color: var(--purple);
    /* No underlining when hovering over a link */
    text-decoration: none;
}
a:active{
    /* selected link */
    color: var(--dark-grey);
}
button, .button {
  /* overwrite browser defaults and reset the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: var(--purple);
  color: var(--white);
  text-decoration: none;
  margin: 5px 0px;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}
button:hover, button:focus , .button:hover, .button:focus .block:hover, block:focus{
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  color: var(--black);
}
.button-container { 
  height: 70px;
  position: relative;
  border: none; 
}

.horizontal-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#content {
  margin: 1em auto;
  width: 90%;
  margin-bottom: 10px;
  overflow: auto;
  
}
#contact-container {
    width: 95%; 
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    overflow: auto;
    
}

/* Flexbox layout for header bar*/
/* Header setting*/

.page-header{
    display: flex;
    width: 100%;
    margin: auto;
    box-shadow: 0 4px 10px -10px var(--black);
   
}
.page-header__item{
    flex: 0 1 200px;
    padding-bottom: 5px;
    
}
.page-header__item:last-child{
    flex-grow: 1;
    text-align: right;
    
}
.navigation-list__item--active {
    text-decoration: none;
}
.navigation-list {
    list-style-type: none;
}
.navigation-list li{
    color: var(--dark-grey);
    display: inline-block;
    margin-left: 15px;  
    text-transform: uppercase;
    
}
.logo{
    margin-top: 15px;
    height: 50px;
    width: 100px;
    
}
.right{
    float : right;
    padding: 5px;
}
.left{
    float: left;
    margin-left: 5px;
   
}

.nobull {
  list-style-type: none;
 }
/*Link setting*/
.link {
  text-decoration-line: underline;
  color: var(--dark-grey);
  transition: color 1s linear 0.5s;
}

/* Setting of Profile*/
.profile{
    max-width: 700px;
    margin: 0 auto;
}
/*Align profile image and welcome text */
/* Setting for portrait*/
.profile__portrait{
    float: left;
    wxidth: 250px;
    max-width: 50vp;
    height: auto;
    margin-right: 40px;
    border-radius: 50%;
    border: 1px solid black;
}
.seattle{
    animation: 4s color-change infinite alternate linear;
}

/*Form style*/
.form-style{
        width:95%;
	max-width: 500px;
	padding: 10px 12px 10px 10px;
        border-radius: 5px;
	background-color: var(--pewter);
        border: var(--dark-grey);
        margin-bottom: 15px;
        
}
.form-style label{
	display: block;
        width: 100px;
        
	margin: 0px 0px 15px 0px;
        
}
.form-style label > span{
	width: 100px;
        
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
        
}
.form-style span.required{
	color: var(--red);
}

.form-style input.input-field {
	width: 80%;
        
}
.form-style input.input-field, 
.form-style .textarea-field{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid var(--dark-grey);
	box-shadow: 1px 1px 4px var(--dark-grey);
	-moz-box-shadow: 1px 1px 4px var(--dark-grey);
	-webkit-box-shadow: 1px 1px 4px var(--dark-grey);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
        
}
.form-style .input-field:focus, 
.form-style .textarea-field:focus,  

.form-style .textarea-field{
	height:100px;
	width: 80%;
}
.block {
  display: block;
  width: 100%;
  text-align: center;
}

/*Animate color of letters*/

  
@keyframes color-change {
  from {
    fill: var(--purple);
  }
  to {
    fill: var(--black);
  }
}
/*Experience page with grid setting*/

.experience-grid{
    max-width: 960px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(100px,auto);
    margin:0 auto;
    grid-gap: 1rem;
    grid-template-areas:
    
    "main main main "
    "aside aside aside"
    "aside aside aside"
    "section section section"
   
    ;
}
.experience-grid>*{

}
main{
grid-area:main;
}
section{
grid-area: section;
background-color: var(--pewter);
border-radius: 8px;
padding: 2%;
}
aside{
grid-area:aside;
}

main .experience-logo {
      display: grid;
      grid-column: 1;
      grid-row: 1;
      justify-items: center;
      height: 20vh;
      width: 100%;
      
 
  }
main .experience-logo img {
    border-radius: 50%;
  
    max-width:90vh;
    max-height:90vh;
    margin: 2px;
   

  }

.title {
    
    font-size: var(--font-size-2);
    font-weight: bold;
  }
hr {
    margin-top: 2%;
    border-color: var(--dark-grey);
}
.description .self-title{
    margin: 1%;
    padding-right: 1%;
    font-size: var(--font-size-1);
 
}
.meta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2%;
}

/* Footer setting*/
.page-footer{
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top: 1px solid var(--dark-grey);
    margin-top: 5px;
}
/*Project list Grid setting*/
.horizontal-border{
    
    padding: 26px 0px 30px;
    border-top: 1px solid var(--light-grey);
}
.project-list{    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.project-list__item{
    padding: 10px;
}
/* Setting for screen size less than 500pixel*/
@media all and (max-width: 500px) {
  .project-list{
    grid-template-columns: 1fr;  
  }  
   
  
}
/* Setting for screen size between 500pixel and 750px*/
@media all and (min-width: 500px) and (max-width: 750px){
  .project-list {
    grid-template-columns: 1fr 1fr; 
  }  
  
}
/* Setting for screen size up to 750px*/
@media all and (max-width: 750px) {
  .project-list {
    grid-gap: 10px;
  }
  .project-list__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: var(--font-size-4);
  }
  
 
}
/*For screen size minimum of 700px*/
@media screen and (min-width:750px){
.experience-grid{
max-width: 960px;
display: grid;
grid-template-columns: repeat(3,1fr);
grid-auto-rows: minmax(100px,auto);
margin:0 auto;
gap:2px;
grid-template-areas:
    "main main main "
    "aside section section"
    "aside section section"
    "aside section section"
;
}
}
